.common {
  &_icon {
    cursor: pointer;
  }

  &_column {
    display: flex;
    flex-direction: column;
  }

  &_row {
    display: flex;
    flex-direction: row;
  }

  &_margin {
    &__xxs {
      margin-top: 5px;
    }
    &__xs {
      margin-top: 10px;
    }
    &__s {
      margin-top: 15px;
    }
    &__m {
      margin-top: 20px;
    }
    &__l {
      margin-top: 30px;
    }
    &__xl {
      margin-top: 35px;
    }
    &__xxl {
      margin-top: 40px;
    }
  }

  &_iconMargin {
    &__s {
      margin-right: 8px;
    }
    &__m {
      margin-right: 10px;
    }
    &__l {
      margin-right: 14px;
    }
  }

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: row;

    @media all and (max-width: 768px)  {
      gap: 15px;
    }

    &__center {
      justify-content: center;
    }
  }

  &_link {
    cursor: pointer;
    text-decoration: none;
  }

  &_cropText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
